<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Geocoding" version="0.8.0" targetFramework="net452" />
  <package id="Carbon.Geography" version="0.8.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="Geocoding.net" version="3.6.0" targetFramework="net452" />
  <package id="GMap.NET.Core" version="2.0.1" targetFramework="net452" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net452" />
  <package id="GMap.NET.WinForms" version="2.0.1" targetFramework="net452" />
  <package id="Google.Maps.Geocoding.NET-API" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.6.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.337.80" targetFramework="net452" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17199.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net452" />
  <package id="Stony.GoogleMaps.Geocoding" version="0.2.1" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net452" />
  <package id="WpfConfigurator" version="1.0.5" targetFramework="net452" />
</packages>